.bookLayout {
  border: 1px solid lightgray;
  padding: 16px 16px;
  margin: 16px;
  width: 300px;
  height: 300px;
  word-wrap: break-word;
  box-shadow: 2px 4px lightsteelblue;
}
.bookLayout h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 6px 4px;
}
.bookLayout h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 2px 0px;
}

.bookLayout p {
  padding: 5px;
  font-size: 14px;
}

.info {
  display: flex;
  align-items: flex-start;
}

.titleDiv {
  border-bottom: 1px solid lightgray;
  background-color: lightsteelblue;
  color: white;
  padding: 8px;
  margin-bottom: 10px;
}

.moreInfo {
  border: none;
  text-decoration: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}
