.bookLayout{
    border: 1px solid lightgray;
    margin: 5px;
    width: 300px;
    min-height: 200px;
    word-wrap: break-word;
    box-shadow: 2px 4px lightsteelblue;
}
.bookLayout p{
    padding: 5px;
}
.bookLayout h2{
    font-weight: bold;
    font-size: large;
    margin: 4px 0px;
}
.bookLayout h3{
    font-weight: bold;
    font-size: medium;
    margin: 2px 0px;
}
.titleDiv{
    border-bottom: 1px solid lightgray;
    background-color: lightsteelblue;
    color: white;
    padding: 2px;
}