.image-container {
  margin: 8px 8px 0px 0px;
}
.image {
  max-height: 200px;
}
.buy {
  text-decoration: none;
  font-weight: 800;
  color: rgb(123, 165, 221);
  
}
.buy:active,
.buy:visited {
  text-decoration: none;
  color: rgb(20, 70, 134);
}
.buy:hover {
  cursor: pointer;
  /* border-bottom: 4px solid lightgray; */
}
.bottomSection{
  display: flex;
  justify-content: center;
  margin: 10px;
}