.form-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 10%;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  align-items: center;
  margin-top: 30px;
}

.search-text {
  font-weight: 700;
  font-size: 24px;
}

.search-box {
  height: 26px;
  margin-right: 10px;
  width: 400px;
  padding: 5px;
  border: 1px solid lightslategray;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 10px -4px;
}
.search-box:focus {
  outline: none;
}

.search-btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid lightslategray;
  padding: 0 16px;
  height: 40px;
  box-shadow: rgb(0 0 0 / 50%) 2px 2px 10px -4px;
}

.search-btn:disabled {
  cursor: not-allowed;
}
.search-btn:hover {
  box-shadow: none;
}
.search-btn:active {
  box-shadow: none;
}
@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
  }
  .search-box {
    width: 100%;
    margin: 0;
  }
  .search-btn {
    margin-top: 20px;
    width: 100%;
  }
}
