.image-container {
  margin: 8px 8px 0px 0px;
}
.image {
  max-height: 200px;
}
.buy {
  text-decoration: none;
  font-weight: 800;
  color: #339b9d;
}
.buy:active,
.buy:visited {
  text-decoration: none;
  color: #339b9d;
}
.buy:hover {
  cursor: pointer;
}
.bottomSection {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
